<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
 	
 	<extension
         point="org.eclipse.ui.commands">
	 <command
        defaultHandler="org.jiayun.commons4e.handlers.SampleHandler"
        id="org.jiayun.commons4e.ui.quickMenu"
        name="Show  Quick Menu">
      </command>
	</extension>
	<extension point="org.eclipse.ui.bindings">
	  <key
	    commandId="org.jiayun.commons4e.ui.quickMenu"
	    schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
	    sequence="M2+M3+K">
	 </key>
   </extension>
   
   
   
</plugin>
